---
version: '3'
services:
  dineout:
    container_name: dineout
    image: srinuas/swiggy:dineout
    ports:
      - '1111:80'
    volumes:
      - type: volume
        source: dinvol
        target: /usr/share/nginx/html
    networks:
      - dinnw
      - foonw
      - gennw
      - insnw

  food:
    container_name: food
    image: srinuas/swiggy:food
    ports:
      - '2222:80'
    volumes:
      - type: volume
        source: foovol
        target: /usr/local/apache2/htdocs/
    networks:
      - dinnw
      - foonw
      - gennw
      - insnw

  genie:
    container_name: genie
    image: srinuas/swiggy:genie
    ports:
      - '3333:80'
    volumes:
      - type: volume
        source: genvol
        target: /usr/share/nginx/html
    networks:
      - dinnw
      - foonw
      - gennw
      - insnw

  instamart:
    container_name: instamart
    image: srinuas/swiggy:instamart
    ports:
      - '4444:80'
    volumes:
      - type: volume
        source: insvol
        target: /usr/local/apache2/htdocs/
    networks:
      - dinnw
      - foonw
      - gennw
      - insnw

volumes:
  dinvol:
  foovol:
  genvol:
  insvol:

networks:
  dinnw:
    driver: bridge
  foonw:
    driver: bridge
  gennw:
    driver: bridge
  insnw:
    driver: bridge
